body,
html {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-size: 14px;
  line-height: 17px;
}

h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
  color: var(--color-7);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &::visited {
    color: var(--color-7);
  }
}

* {
  font-family: Merriweather, sans-serif;
  font-weight: 400;
}

@font-face {
  font-family: Merriweather;
  font-style: normal;
  font-weight: 600;
  src: url("../font/Merriweather-Bold.ttf") format("ttf");
}

@font-face {
  font-family: Merriweather;
  font-style: normal;
  font-weight: 400;
  src: url("../font/Merriweather-Regular.ttf") format("ttf");
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  margin: 5px;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px var(--color-2);
  border: 5px solid transparent;
}

.el-input {
  &__wrapper {
    background-color: var(--color-5) !important;
    border-radius: 6px !important;
    box-shadow: none !important;
    color: var(--color-7) !important;
  }

  ::-webkit-input-placeholder {
    color: var(--color-7) !important;
    opacity: 0.3;
  }

  .is-focus {
    border: none !important;
    color: var(--color-7) !important;
    background-color: var(--color-6) !important;
  }

  &__inner {
    color: inherit !important;
  }
}

.el-popper.is-dark {
  background: var(--color-2) !important;
  .el-popper__arrow::before {
    background: var(--color-2) !important;
  }
}

.el-dropdown {
  .el-tooltip__trigger {
    cursor: pointer !important;
  }
}

.el-switch {
  --el-switch-off-color: var(--color-2) !important;
  --el-switch-on-color: var(--color-2) !important;
  justify-content: center;

  &__label {
    color: var(--color-2) !important;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  box-shadow: 0 0 0 1000px rgb(256 256 256 / 10%) inset !important;
  caret-color: var(--color-text);
  -webkit-text-fill-color: var(--color-text);
  transition: background-color 5000s ease-in-out 0s;
}

h2 {
  line-height: 30px;
}

.el-dropdown {
  &__popper,
  &-menu__item {
    color: var(--color-2) !important;
    transition: background-color 0.5s;
  }

  &-menu__item:not(.is-disabled):focus {
    color: var(--color-2) !important;
    background-color: var(--color-5) !important;
  }
}
.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

.el-dialog__close,
.el-link:hover {
  color: var(--color-2) !important;
}

* {
  --el-text-color-regular: var(--color-2);
  --el-dropdown-menuItem-hover: var(--color-2);
  --el-color-primary: var(--color-2);
  --el-menu-text-color: var(--color-2);
  --el-color-primary-dark-2: var(--color-3);
  --el-color-primary-light-3: var(--color-4);
  --el-button-bg-color: var(--color-2) !important;
  --el-button-hover-bg-color: var(--color-3) !important;
  --el-button-text-color: var(--color-8) !important;
  --el-button-hover-text-color: var(--color-8) !important;
  --el-button-hover-border-color: var(--color-3) !important;
  --el-border: none;
}

.el-color-picker {
  width: 100%;
  border: 1px solid var(--color-2);
  border-radius: 5px;

  * {
    border-radius: 5px;
    border: none !important;
  }

  &__trigger {
    width: 100% !important;
    padding: 0 !important;
    border: none !important;
  }
}

.el-message,
.el-message--info,
.el-message__content,
.el-message-icon--info {
  background-color: var(--color-2) !important;
  color: var(--color-8) !important;
}
.el-message--error,
.el-message-icon--error {
  background-color: var(--color-2) !important;
  color: var(--color-8) !important;
}